<div class="dashboard-page">
  <%- partial('../partials/header_nav') %>

  <div class="row">
    <div class="medium-3 columns">
      <%- partial('partials/sidebar_menu') %>
    </div>

    <div class="tabs-content">
      <%- partial('partials/accounts') %>
      <%- partial('partials/new_account') %>
      <%- partial('partials/transactions') %>
      <%- partial('partials/money_sent') %>
      <%- partial('partials/money_received') %>
      <%- partial('partials/send_money') %>
      <%- partial('partials/exchange_rates') %>
      <%- partial('partials/personal_info') %>
      <%- partial('partials/currency_converter') %>
    </div>
  </div>

  <%- partial('../partials/footer') %>
</div>
